
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

#Home {
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    /* Ensure content doesn't overflow during transition */
}

body {
    min-height: 100vh;


}

section {
    padding: 60px 0;

}




:root {
    --text-color: black;
    --main-background-color: white;
    --secondary-color: #878a8f;
    --other-color: #0f141e;
}

/* hover effects  */
.logo img:hover {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.logo #label:hover {
    color: var(--secondary-color);
    transition: color 0.5 ease;
}

nav .MainMenu li a:hover {
    color: var(--secondary-color);

}

#menu-icon:hover {
    color: var(--secondary-color);
    transition: color 2s ease 0.5;
    transform: scale(1.1);
}

nav .MainMenu li a:hover {
    color: var(--secondary-color);
    transition: color 2s ease 0.5;
    transform: scale(1.1);
}

nav .closeMenu i:hover {
    color: var(--secondary-color);
    transition: color 2s ease 0.5;
    transform: scale(1.1);

}

nav .closeMenu i:hover {
    transform: rotate(180deg);

}



nav .openMenu i:hover {
    transform: scale(1.1);

}

nav .MainMenu {
    display: flex;
    list-style: none;
    padding: 2%;
    justify-content: center;
    align-items: center;
  
}

nav .closeMenu i {
    transition: transform 0.5s ease;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    color: black;
    display: flex;
    justify-content: space-between;

    
}


nav .MainMenu li a {
    position: relative;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    font-family: "Truculenta",
        sans-serif;
    
    font-weight: bold;
    transition: color 0.3s;
  

}





.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .openMenu i {
    transition: transform 0.3s ease, scale 0.3s ease;
}


nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.logo img {
    max-width: 80px;
    width: auto;
    max-height: 125px;
    border-radius: 8px;


}

.aboutHeader #label {
    padding: 5%;
}

@keyframes square-in-bottom-left {
    from {
        clip-path: inset(0 0 100% 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

.transition-style {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}




#label {
    margin-left: 0%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: bold;
    font-family: "Truculenta",sans-serif;

}

.mainParagraph p {
    font-size: 18px;

}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99999;


}


.wrapper {
    width: 600px;

}


h1 {
    font-size: 75px;
    font-family: "Nova Round", system-ui;
    font-weight: 400;
    font-style: normal;

}




.ldn-bridgeContainer img {
    margin-top: 5%;
    width: 600px;
    max-height: 100vh;
    height: 700px;
    margin-right: 10%;
    object-fit: cover;
    opacity: 1;
    /* padding-left: 2%; */
    border-radius: 40px;
}

.Proj-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust margin as needed */
}

.Proj-Container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}


.Proj-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust margin as needed */
}

.Proj-Container .image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    overflow: hidden;
    
}


.Proj-Container .image-container:hover img {
    animation: shake 0.5s ease-in-out infinite;
    /* Apply shake animation on hover */
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    /* Initial position */
    25% {
        transform: translateX(-5px);
    }

    /* Move left */
    50% {
        transform: translateX(5px);
    }

    /* Move right */
    75% {
        transform: translateX(-5px);
    }

    /* Move left */
    100% {
        transform: translateX(0);
    }

    /* Return to initial position */
}


.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    max-width: 100%;
    max-height: 100%;
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}


.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;

}

.box h3 {
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.box p {

    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.read {
    display: inline-block;
    padding: 8px 18px;
    background: var(--secondary-color);
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: all .45s ease;
}



.read:hover {
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.Proj-Container img {
    width: 100%;

    height: auto;
    
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

.Proj-Container:hover .button-container {
    opacity: 1;
    
}

.live-button {
    padding: 10px 20px;
    background-color: var(--other-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.live-button:hover {
    background-color: var(--secondary-color);
}


.ldn-bridgeContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.About {
    padding-top: 5%;
    background-color: var(--secondary-color);
}

.aboutHeader #label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Now Display DW", sans-serif;
    color: var(--other-color);
}


.mainParagraph #aboutParagraph-Header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 2%;

}

.AboutParagraph {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-light {
    font-size: 23px;
    font-weight: 500;
    color: var(--other-color);
    letter-spacing: normal;
    font-family: "Helvetica Now Display DW", sans-serif
}


/* slideshow styling */


.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
}


.aboutme img {
    max-height: 100vh;
    width: 800px;
    height: 900px;
    object-fit: cover;
    object-position: 0px bottom ;
    border-radius: 30px;
}

.Projects .Projects-text h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    font-size: 44px;

}

/* new project section */

.more-projectSection{
    background: white;
}

.Contact {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-text h4 {
    color: var(--other-color);
    font-size: 55px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 20px;
    line-height: 1;
    padding: 2%;
    margin-left: -2%;
}

.contact-text {
    color: var(--other-color);
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 30px;
    padding: 2%;
}


.list {
    margin-bottom: 4rem;

}

.list li {
    margin-bottom: 12px;

}


.list li a {
    display: block;
    font-size: 18px;
    transition: all .45s ease;
    list-style: none;
    color: var(--text-color);
}

.list li a:hover {

    transform: translateY(-5px);
}

.Tech-icons {
    padding: 8%;
}

.h4-container h4 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20%;
    padding: 2%;

}

.Tech-icons i {
    cursor: pointer;
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i {
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;

}

.Tech-icons i:hover {
    transform: scale(1.1);
}

.contact-icons i:hover {
    transform: scale(1.1);
}


.Projects {
    background: white;
}


.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #fff;

}

.last-text p {
    color: var(--other-color);
    font-size: 14px;
}

.top i:hover {
    transform: scale(1.1);
}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-background-color);


}

#ktImage{
    width: 450px;
    height: 400px;
    border-radius: 10px;
}



/* For screens smaller than 800px */
@media (max-width: 800px) {

    nav {
        /* position: fixed; */
        width: 100%;

    }

                 @media (max-width: 800px) {
                     .services-content {
                         flex-direction: column;
                         align-items: center;
                     }
        
        
                     .Proj-Container {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                     }
        
                     .image-container {
                         margin-bottom: 20px;
                     }
        
                     .image-container img {
                         max-width: 100%;
                         /* Ensure the image fills its container */
                         height: auto;
                         /* Maintain aspect ratio */
                     }
        
                     .Projects-text {
                         text-align: center;
                     }
                 }
    nav .MainMenu li a {
        font-size: 2rem !important;
    }

    nav .MainMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        visibility: visible 0.3;
        transition: opacity 1s, height 0.3s;
        transition:  1s, height 0.3s;
        /* Modify transition properties */

    }

    .aboutHeader {
        padding-top: 5%;
    }
        

        .ldn-bridgeContainer img {
            margin-top: 5%;
            width: 450px;
            max-height: 100vh;
            height: 700px;
            margin-right: 10%;
            object-fit: cover;
            opacity: 1;
            padding-left: 2%;
            border-radius: 40px;
        }
  

    .HeaderContainer h1 {
        font-size: 32px;
        padding-right: 5%;
    }

    .mainParagraph p {
        font-size: 14px;
    }

    .mainParagraph #aboutParagraph-Header {
        font-size: 23px;
    }

    .header-light {
        font-size: 17px;
    }

    #to-work{
        font-size: 30px;
    }


    .contact-text h2 {
        margin-top: 2%;
    }

    .contact-text h4 {
        font-size: 40px;
    }

    #label {
        display: none;
    }

    nav .MainMenu li a {
        color: white;
        font-size: 3rem;
    }

    nav .MainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        padding-right: 2%;
        color: white;
    }

    nav .openMenu {
        display: block;
    }

    nav .MainMenu li a {
        position: relative;
        transition: color 0.3s;
    }

    nav .MainMenu li a::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 280px;
        width: 10px;
        height: 10px;
        background-color: white;
        transition: width 0.3s ease-in-out;
        opacity: 0;
    }
        .aboutme {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    
        .aboutme img {
            max-height: 100vh;
            width: 500px;
            height: 500px;
            object-fit: cover;
            object-position: 0px bottom;
            border-radius: 30px;
        }

               

    
}

        /* For screens smaller than 650px */
        @media (max-width: 650px) {

            .aboutme {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
            
                .aboutme img {
                    max-height: 100vh;
                    width: 450px;
                    height: 450px;
                    object-fit: cover;
                    object-position: 0px bottom;
                    border-radius: 30px;
                }

            .ldn-bridgeContainer img {
                    margin-top: 5%;
                    width: 240px;
                    max-height: 100vh;
                    height: 450px;
                    margin-right: 10%;
                    object-fit: cover;
                    opacity: 1;
                    padding-left: 2%;
                    border-radius: 40px;
                }

           
            .Tech-icons i {
                font-size: 30px;
                         
            
            }
    
            .aboutHeader #label {
                font-size: 20px;
            }
    
            .aboutHeader {
                padding-top: 7%;
            }
    
           
    
            .mainParagraph p {
                font-size: 11px;
            }
    
            .mainParagraph #aboutParagraph-Header {
                font-size: 14px;
            }
    
            .header-light {
    
                font-size: 14px;
            }

                        
    
            .slideshow-Container {
                max-width: 400px;
                max-height: 400px;

            }
    
            .Slider-wrapper .image-list .slide {
                width: 250px;
                height: 250px;
            }
    
    
            .mapContainer iframe {
                padding-left: 2%;
                height: 300px;
                width: 250px;
    
            }
    
            .contact-text #to-work {
                font-size: 18px;
                padding-bottom: 2%;
    
            }
    
            .contact-text h2 {
                margin-top: 30%;
                font-size: 18px;
    
            }
    
            .Projects-text #Proj-header {
                font-size: 15px;
            }
    
            .contact-text h4 {
                font-size: 22px;
            }
    
            .top i {
                display: none;
            }
    
            .contact-icons {
                display: flex;
                align-items: center;
    
            }
        }

/* For screens smaller than 480px */
@media (max-width: 480px) {

  
    .ldn-bridgeContainer img {
        width: 240px;
        height: 100vh;
        height: 450px;
        padding-left: 2%;
    }

        .Tech-icons i {
            font-size: 30px;
            display: flexbox;
            align-items: center;
            justify-content: center;

        }
        
        .aboutHeader #label {
            font-size:18px ;
            }

        .aboutHeader{
            padding-top:15% ;
        }
    .HeaderContainer h1 {
        font-size: 21px;
       
    }

    .mainParagraph p {
        font-size: 11px;
    }

    .mainParagraph #aboutParagraph-Header {
        font-size: 14px;
    }

    .header-light {
        
        font-size: 19px;
    }

    .slideshow-Container {
        
        max-width: 400px;
        max-height: 400px;
    }

    .Slider-wrapper .image-list .slide {
        width: 250px;
        height: 250px;
    }


    .mapContainer iframe{
        padding-left: 2%;
        height: 300px;
        width: 250px; 

    }

    .contact-text #to-work{
        font-size: 18px;
        padding-bottom: 2%;

    }
    .contact-text h2 {
        margin-top: 30%;
        font-size:18px;

    }
        .Projects-text #Proj-header{
        font-size: 15px;
    }

    .contact-text h4 {
        font-size: 22px;
    }
    .top i{
        display: none;
    }

        .contact-icons  {
           display: flex;
           align-items: center;
    
        }
       .aboutme {
         display: flex;
         align-items: center;
         justify-content: center;
        }
        
       .aboutme img {
        max-height: 100vh;
        width: 380px;
        height: 380px;
        object-fit: cover;
        object-position: 0px bottom;
        border-radius: 30px;
        }
}

/* For screens smaller than 480px */
@media (max-width: 450px) {
    .ldn-bridgeContainer img {
        width: 220px;
        height: 430px;
        
    }


  .mainParagraph #aboutParagraph-Header {
      font-size: 13px;
  }

    .HeaderContainer h1 {
        font-size: 12px;

    }

    .mainParagraph p {
        font-size: 11px;
    }

   
    .header-light {

        font-size: 15px;
    }

   .aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
   .aboutme img {
    max-height: 100vh;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 0px bottom;
    border-radius: 30px;
    }

      

 

 
    

    .mapContainer iframe {
        padding-left: 2%;
        height: 300px;
        width: 250px;

    }

    .contact-text #to-work {
        font-size: 18px;
        padding-bottom: 2%;

    }

    .contact-text h2 {
        margin-top: 30%;
        font-size: 18px;

    }

    .Projects-text #Proj-header {
        font-size: 15px;
    }

    .contact-text h4 {
        font-size: 22px;
    }

    .top i {
        display: none;
    }

    .contact-icons {
        display: flex;
        align-items: center;

    }
}